.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    border: none;
    border-radius: 8px;
    width: 500px;
}

.dialog>div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;

    p {
        font-weight: 600;
        font-size: 1.2rem;
    }
}

.dialog input {
    padding: .8rem 1rem;
    border: solid 2px var(--color-lighter-gray);
    border-radius: 8px;
    font-family: var(--font-vietnam-pro);
    font-weight: 400;
    font-size: 1rem;
}

.dialog::backdrop {
    background: rgba(0, 0, 0, 0.4);
}

.buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;

    button {
        background-color: transparent;
        border: none;
        font-family: var(--font-vietnam-pro);
        padding: .8rem 1rem;
        border-radius: 8px;
        transition: background-color .3s ease-out;
    }
}

.buttons button:hover {
    cursor: pointer;
    background-color: var(--color-lighter-gray);
}