.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5rem;
    border: none;
    border-radius: 8px;
    min-width: 500px;
}

.dialog>div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dialog input {
    padding: .8rem;
    background-color: white;
    font-family: var(--font-vietnam-pro);
    border: solid 1px var(--color-light-gray);
    border-radius: 8px;
}

.collection {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 8px;
    padding: .5rem;
    background-color: white;
    border: none;
    font-family: var(--font-vietnam-pro);


    img {
        aspect-ratio: 1 / 1;
        max-width: 60px;
        border-radius: 8px;
    }

    .add {
        display: none;
    }
}

.collection:hover {
    cursor: pointer;
    background-color: var(--color-light-gray);

    .add {
        display: flex;
        gap: .5rem;
        align-items: center;
        margin-left: auto;

    }
}

.close{
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    right: 1.5rem;
    cursor: pointer;
    top: 1rem;
    border: none;
}