.gradient {
    background-image: url('/resources/gradiend-bg@2x.png');
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.25rem;
    text-transform: capitalize;
}

.main {
    text-align: center;
    padding-block: 3rem;
}

.columnGallery {

    padding: 1rem;
    margin-top: 150px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1350px;
    column-count: 4;
    column-gap: 1rem;
    list-style-type: none;


}

.flexGallery {

    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    list-style-type: none;

}

.columnGallery,
.flexGallery img {
    max-width: 300px;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 8px;
    animation: fadeIn 1.5s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}