.gradient {
    background-image: url('/resources/gradiend-bg@2x.png');
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.25rem;
    text-transform: capitalize;
}

.main {
    text-align: center;
    padding-block: 3rem;
}

