.header {
    text-align: center;
    padding-top: 2rem;
}

.header h2 {
    margin: auto;
    font-weight: 300;
    font-size: 1rem;
    max-width: 40ch;


    a {
        text-decoration: underline;
        font-weight: 400;
    }
}

.gradient {
    background-image: url('/resources/gradiend-bg@2x.png');
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.25rem;
}

.main {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding-block: 3rem;
    padding-inline: 1rem;
    max-width: 1200px;
    margin: auto;
}

.main ul {
    display: flex;
    list-style-type: none;
    gap: 2rem;
    flex-wrap: wrap;



    img {
        aspect-ratio: 16/9;
        width: 100%;
        border-radius: 8px;
        object-fit: cover;
    }

    h4 {
        color: var(--color-medium-gray);
        font-weight: 400;
        font-size: .8rem;
    }

    li {
        width: 350px;
        height: auto;
        text-transform: capitalize;
        animation: fadeIn 1.5s ease forwards;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.main ul button {
    border-radius: 8px;
    border: none;
    background-color: var(--color-lighter-gray);
    padding: 1rem;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    color: var(--color-medium-gray);
    font-weight: 600;
    font-family: var(--font-vietnam-pro);

    img {
        width: 30px;
        height: auto;
    }

    &:hover {
        cursor: pointer;
    }
}