
.gallery {

  padding: 1rem;
  margin-top: 150px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1350px;
  column-count: 4;
  column-gap: 1rem;
  list-style-type: none;


}

.gallery img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  animation: fadeIn 1.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
@media (max-width:1024px) {
  .gallery{
    column-count: 3;
  }
  
}

@media (max-width:640px) {
  .gallery{
    column-count: 2;
  }
  
}