.navbar {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  padding: 2rem;
  border-bottom: 1px solid var(--color-light-gray);
  color: var(--color-medium-gray);
}

.navbar ul {
  display: flex;
  list-style-type: none;
  gap: 1.5rem;
}

.navbar li > a{
  padding: .8rem 15%;
  border-radius: 8px;
  transition: background-color .3s ease-out;
}

.navbar li > a:hover {
  cursor: pointer;
  background-color: var(--color-light-gray);
}