.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: max-content;
    gap: 2rem;
    margin: auto;
    justify-content: center;
    padding-block: 3rem;


}

.main section:last-of-type {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.photo {
    max-width: 600px;
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
        border-radius: 50%;
    }
}

.date {
    font-size: .8rem;
    font-weight: 300;
}

.title {
    font-size: 1.2rem;
    font-weight: 600;
}

.actions {
    display: flex;
    gap: 1rem;
}

.actions button {
    display: flex;
    align-items: center;
    padding: .8rem 1.5rem;
    gap: .5rem;
    color: var(--color-dark-gray);
    font-family: var(--font-vietnam-pro);
    background-color: var(--color-light-gray);
    border: none;
    border-radius: 8px;


    &:hover {
        cursor: pointer;
        background-color: var(--color-lighter-gray);
    }
}

.collections {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style-type: none;
    text-transform: capitalize;

    li {
        border-radius: 8px;
    }

    a {
        display: flex;
        gap: 1rem;
        align-items: center;
        padding: 1rem;

    }

    img {
        max-width: 60px;
        border-radius: 8px;
        aspect-ratio: 1/1;
    }

    .total {
        font-weight: 300;
    }
}

.remove {
    display: none;
    gap: .5rem;
    margin-left: auto;
}

.collections li:hover {
    background-color: var(--color-light-gray);

    .remove {
        display: flex;
    }
}