:root {

  --font-size-title: 2.25rem;
  --font-size-description: .875rem;
  --font-size-large: 1rem;
  --font-size-small: .75rem;

  --color-dark-gray: #121826;
  --color-medium-gray: #6C727F;
  --color-light-gray: #E5E7EBCC;
  --color-lighter-gray: #E5E7EB;
  --color-white: #FFFFFF;

}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html {

  background-color: var(--color-white);
  color: var(--color-dark-gray);

}

body{
    font-family: var(--font-vietnam-pro);
}


