.main {
  display: grid;
  min-height: 90dvh;
  font-family: var(--font-geist-sans);
  background-image: url("/resources/hero-image.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: var(--color-dark-gray);
  position: relative;
  transition: background-image .5s ease-out;

}

.gradient {
  position: absolute;
  display: hidden;
  opacity: 0;
  height: 100px;
  width: 100%;
  top: 0;
  background-repeat: no-repeat;
  background-image: url("/resources/gradiend-bg.svg");
  background-size: cover;
  transition: opacity .5s ease-out;

}

.main[data-visible='true'] {
  background-image: none;
  background-color: white;


  .gradient {
    display: inline;
    opacity: 1;
  }

  .gallery {
    opacity: 1;
  }
}

.search {
  position: absolute;
  display: grid;
  gap: 1rem;
  left: 50%;
  top: 40%;
  transform: translateX(-50%) translateY(-50%);
  transition: top 0.6s ease;

}

.search>div {
  position: relative;

  img {
    position: absolute;
    right: 1rem;
    top: 25%;
  }
}

.search input[type="text"] {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.126);
  border-radius: 8px;
  border: solid 1px var(--color-light-gray);
  font-family: var(--font-vietnam-pro);
  font-weight: 400;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 100%;
  background-color: white;

}

.search[data-visible='true'] {
  top: 100px;

}

.gallery {

  padding: 1rem;
  margin-top: 150px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1350px;
  column-count: 4;
  column-gap: 1rem;
  opacity: 0;
  transition: opacity 1s ease-out;
  list-style-type: none;


}
.gallery img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    animation: fadeIn 1.5s ease forwards;
  }

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}